/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import "~bootstrap/dist/css/bootstrap.min.css";

html {
  height: 100%;
}

body {
  padding-top: 5px;
  padding-bottom: 5px;
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Courier New", sans-serif;
  font-weight: normal;
  font-size: 1em;
  background: linear-gradient(#d5e3f1 15%, #fffbd9 70%, #ffdfcb 94%);
}

.tableWidth {
  overflow: scroll;
}

.table {
  border-collapse: collapse;
  width: 90%;
}
/* h1 {
  font-size: 2em;
} */

/* .table-bordered,
.table-bordered td,
.table-bordered th {
  border: 1px solid #2f465d;
} */
